dav_tools>=0.4.22
pydantic>=2.10.4
sql-error-taxonomy>=1.0.2
sqlscope>=1.0.12
sqlglot>=11.5.6
dotenv
openai
psycopg2-binary
mysql-connector-python

# Dependencies for development
ipython

# Dependencies for building
build
autoapi
pytest
sphinx-autoapi
